.container {
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height: 500px;
    text-align: center;
 
}

.home-list {
    color: brown;
}
.profile {
    color: blue;
}

.app-header{
    display: flex;    
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.logo {
    margin: 10px;
    padding-left: 20px;

}

 nav ul li{
    padding : 0 5px 0 5x;
    margin: 10px;
    padding-right: 20px;
    display: inline;

    
}